{% load static %}
<!doctype html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <title>About Me</title>
  <style>
#alt{
     margin-top: 50px;
     background: white;
     border-color: white;
     font-size: 20px;
}


  </style>

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <a class="navbar-brand" href="{% url 'blog:about' %}">About Me</a>
     <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> ☰
     </button>
     <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           {%  if user.is_authenticated %}

             <li>
                 <a href="{% url 'blog:home' %}" class="nav-link">Blog</a>
             </li>
             <li>
                 <a href="{% url 'blog:cv' %}" class="nav-link">CV</a>
             </li>
            {% else %}
               <li></li>
            {% endif %}

         </ul>
         <ul class="nav navbar-nav ml-auto">
           {%  if user.is_authenticated %}
             <li>
               <a href="{% url 'blog:logout' %}" class="nav-link">Logout</a>
             </li>
           {% else %}
             <li>
               <a href="{% url 'blog:login' %}" class="nav-link">Login</a>
             </li>
             <li>
               <a href="{% url 'blog:register' %}" class="nav-link">Register</a>
             </li>
           {% endif %}
                 <a href="https://github.com/bhvbhatia" class="nav-link"><i class="fa fa-github fa-lg"></i></a>
             <li>
                 <a href="https://www.linkedin.com/in/bhavy-bhatia-175292150/" class="nav-link"><i class="fa fa-linkedin fa-lg"></i></a>
             <li>
                 <a href="https://www.instagram.com/bhavy_arvy12/" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a>
             </li>
         </ul>
     </div>
     <!--/.nav-collapse -->

</nav>
    <div class="container">
      <br><br>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" id="alt" role="alert">
                                <p>{{ message }}</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
            </div>
         {% endfor %}
      {% endif %}



    </div>

    {% block body_block %}

    {% endblock %}






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>











  </body>
</html>
