{% extends 'blog/base.html' %}

{% block body_block %}
<br><br><br><br><br>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

<style>
h1{
  font-family: 'Merriweather', serif;
  font-size: 65px;
}
span{
  background-color:
}
#ye{
  background-color: yellow;
  margin-left: 0;
  text-align: center;
  width: 50%;

}
.p h1{
  font-family: 'Merriweather', serif;
  font-size: 55px;
  margin-right: 50px;
}

.intro{
  margin-right: 50px;

}
#edu{
  background-color: yellow;
  margin-left: 0;
  text-align: center;
  width: 50%;

}

#in{
  background-color: yellow;
  margin-left: 0;
  text-align: center;
  width: 50%;

}
#inte{
  margin-right: 50px;

}
#un{
  margin-right: 50px;

}

</style>
<div class="container" id="ye">

  <h1><strong><span>CV</span></strong></h1><br>

</div>
<br>

<div class="p" style="text-align:right">
   <h1><strong>Professional</strong> Summary</h1><br><br>
 <div class="intro">


   <p>Hi I'm Bhavy Bhatia currently pursuing Btech in Computer Science and Engineering from</p>
   <p>JECRC UNIVERSITY.Hardworking and technically profecient engineer who thrives when facing</p>
   <p>challenges and tackling long problem.Working on improving programing analytical skills</p>
   <p><strong>Techinal skills include MYSQL,Python,django,Data Structures and Algorithm.</strong></p>
   <br>
   <p>I have done data science course from <strong>IBM ONLINE CERTIFICATION</strong> and receive a completion</p>
   <p>certificate from IBM. Currently I'm working on Machine learning and AI model of Bank.</p>
</div><br><br>
</div><br>

<div class="container" id="edu">
  <mark><h1>EDUCATION</h1></mark><br>
</div><br><br>
  <div class="container" style="text-align: right" id="un">
 <h3><strong>University Name</strong></h3>
    <p>JECRC UNIVERSITY</p>
  </div><br><br><br>

  <div class="container" id="in">
    <mark><h1>INTEREST</h1></mark><br>
  </div><br><br>
  <div class="container" style="text-align:right" id="inte">
    <p>hddhchhdbchdbchdbchdbchdbcdbchdbchdcb</p>
    <p>chbhcbbhchchdbchdbchhdbcjdbcjdjbcjdbc</p>
    <p>hcbdhcbhdbchdbchdcbhdvvydvdgdvcghdvch</p>
    <p>ddcgvdgcvdhucdhcvdhubcjdcbjdcbhdbchhh</p>
 </div>


{% endblock %}
