{% extends "blog/base.html" %}

{% block body_block %}
  <br><br><br><br>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
  .jumbotron{
    position: fixed;
    margin-top: -65px;
    margin-left: 500px;
    margin-right: 300px;
    background: white;
    margin-bottom: 3000px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
small{
text-align: left;
padding-left: -100px;
  }
  body{
    background-color: #18a370;
  }
  button{
    background: #18a370;
    border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }


  </style>

<body>

</body>

<div class="jumbotron">

<div align="center">
 <h2 style=""><strong>Sign up</strong></h2>
 <small style="color:grey">Please fill this form to create an account</small><hr>
 <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
   {% endfor %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>




   </p><br>
    <button type="submit" style="color: white;"><h5>Sign up</h5></button>
  </form>
</div>
</div>
</div>
{% endblock %}
